<h3 class="form-header">{{localize "PF1.CreatureType"}}</h3>

<div class="form-group creature-type">
  <label>{{localize "PF1.CreatureTypes.Plural"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each @root.creatureTypes.selected}}
        <li class="tag type-id-{{@key}}">{{this}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-title="PF1.CreatureTypes.Plural" data-options="creatureTypes" data-for="system.creatureTypes"><i class="fa-solid fa-edit" inert></i></a>
  </div>
</div>

<div class="form-group creature-sub-type">
  <label>{{localize "PF1.CreatureSubTypes.Plural"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each @root.creatureSubtypes.selected}}
        <li class="tag type-id-{{@key}}">{{this}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-title="PF1.CreatureSubTypes.Plural" data-options="creatureSubtypes" data-for="system.creatureSubtypes"><i class="fa-solid fa-edit" inert></i></a>
  </div>
</div>
